.Content {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-left: 30px;
}

.Row {
    width: 190px;
    margin: 15px;
}

.WordList {
    display: flex;
    flex-direction: row;
}

.Tags {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
